<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as Security Software Engineer with Azure DevSec team at <a class="underline-link" href="https://microsoft.com" target="_blank">Microsoft. </a> I have previously worked with <a href="https://fireeye.com">FireEye Mandiant Intelligence</a> dissecting malwares and attributing malware samples to threat groups as a Technical Intelligence Analyst.  
      My areas of interest include container and Kubernetes security, Cloud Security, Penetration testing, Application and Network Security. 
      In the past, I have worked with  <a class="underline-link" href="https://ey.com/" target="_blank">Ernst &amp; Young </a> for their enterprise advisory service line.
    </p>

    <p>
      As a security engineer, I enjoy discovering security vulnerabilties, with current focus on Azure offerings, performing security reviews.
    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing my piano, reading about psychology or crossing off another item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
