<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a graduate student at <a class="underline-link" href="https://my.jh.edu/people/adayal2" target="_blank">Johns Hopkins University enrolled in Master of Science in Security Informatics program. </a> I have worked with <a href="https://fireeye.com">FireEye Mandiant Intelligence</a> this summer dissecting malwares and attributing malware samples to threat groups as a Technical Intelligence Analyst.  
      My areas of interest include Malware Analysis, Reverse Engineering, Cloud Security (Predominantly AWS but catching up with GCP), Application and Network Security. 
      During my coursework, I was fortunate enough to work on several research projects including <a href="https://cryptodoneright.org/about.html"> Cisco sponsored Cryptography knowledge base </a>, Code review through sematics and Code Morphology as well as assist through two of my semesters on graduate level courses : Object Oriented Software Engineering (CS Oriented) and Critical Infrastructure Protection. (Cyber)
      In the past, I have worked with  <a class="underline-link" href="https://ey.com/" target="_blank">Ernst &amp; Young </a> for their enterprise advisory service line. I regularly contribute to 
      <a class="underline-link" href="https://www.cybrary.com" target="_blank">cybrary </a> and
      <a class="underline-link" href="https://www.peerlyst.com/users/apoorv-dayal" target="_blank">peerlyst </a> to create crowd sourced eBooks and improve lab environments focused around security.
    </p>

    <p>
      As a security engineer, I enjoy fiddling with binaries performing Malware Analysis, Reverse Engineering or finding bugs in websites and mobile applications. DevSecOps and Cloud security has been a recent obsession and we all know how exploiting those S3 buckets can be fun haha! My goal is to always build applications that are scalable
      and efficient under the hood while providing robust and modern security.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing my piano, reading about psychology or crossing off another item on my bucket list. (Let's not talk about Pandemic, should we?)
    </p>

    {% include employment-status.html %}
  </div>
</section>
