<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a graduate student at <a class="underline-link" href="https://my.jh.edu/people/adayal2" target="_blank">Johns Hopkins University enrolled in Master of Science in Security Informatics program. </a> I have worked with FireEye Mandiant Intelligence this summer dissecting malwares and attributing malware samples to threat groups as a Technical Intelligence Analyst. 
      <a class="underline-link" href="http://jhu-oose.com/" target="_blank">Object Oriented Software Engineering Course</a> taken by Dr Ali Madooei, after completing an exciting stint of 2 years working at 
      <a class="underline-link" href="https://ey.com/" target="_blank">Ernst &amp; Young </a> for their enterprise advisory service line. I regularly contribute to 
      <a class="underline-link" href="https://www.cybrary.com" target="_blank">cybrary </a> and
      <a class="underline-link" href="https://www.peerlyst.com/users/apoorv-dayal" target="_blank">peerlyst </a> to create crowd sourced eBooks and improve lab environments focused around security.
    </p>

    <p>
      As a security engineer, I enjoy fiddling with various technologies into the domains of secure code review, malware analysis, penetration testing and cloud security &mdash; combining my technical knowledge
      with my experience and interests to create secure robust products. My goal is to always build applications that are scalable
      and efficient under the hood while providing robust and modern security.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably eating, playing my piano, reading about psychology
      or crossing off another item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
