<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
      <!--  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">
          <img src="{{site.baseurl}}/img/featured/project_image.png" alt="">
        </a> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">Malware Detection using Blockchain</a>
        </div>
        <p>Utilising blockchain for creating a decentralized malware detection system. Motivated by the fact that today's Malware detection systems and Firewalls are mode Predictable than being predictive.</p>
      </figcaption>
    </div>

  </div>
</section>
