<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
      <!--  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">
          <img src="{{site.baseurl}}/img/featured/project_image.png" alt="">
        </a> -->
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">Malware Detection using Blockchain</a>
        </div>
        <p>Utilising blockchain for creating a decentralized malware detection system. Motivated by the fact that today's Malware detection systems and Firewalls are mode Predictable than being predictive.</p>
      </figcaption>
      <figure class="project__pic">
        <!--  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">
            <img src="{{site.baseurl}}/img/featured/project_image.png" alt="">
          </a> -->
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">Malware Detection using Blockchain</a>
          </div>
          <p>Utilising blockchain for creating a decentralized malware detection system. Motivated by the fact that today's Malware detection systems and Firewalls are mode Predictable than being predictive.</p>
        </figcaption>
        <figure class="project__pic">
          <!--  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">
              <img src="{{site.baseurl}}/img/featured/project_image.png" alt="">
            </a> -->
          </figure>
          <figcaption class="project__caption">
            <div class="project__name">
              <a href="#" target="_blank">Threat Intelligence Aggregator Platform</a>
            </div>
            <p>Created an aggregator tool as a part of Mandiant Intelligence Company wide Intern Project, to aggregate intel from OSINT sources, internal tools and sandboxes to suggest intelligent pivots to Malware Analyst in a bid to ease their job. This is currently in production for company's internal use only and analytics data suggested a reduction of nearly 35% time an analyst previously spent on a sample.</p>
          </figcaption>
          <figure class="project__pic">
            <!--  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">
                <img src="{{site.baseurl}}/img/featured/project_image.png" alt="">
              </a> -->
            </figure>
            <figcaption class="project__caption">
              <div class="project__name">
                <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">Malware Detection using Blockchain</a>
              </div>
              <p>Utilising blockchain for creating a decentralized malware detection system. Motivated by the fact that today's Malware detection systems and Firewalls are mode Predictable than being predictive.</p>
            </figcaption>
            <figure class="project__pic">
              <!--  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">
                  <img src="{{site.baseurl}}/img/featured/project_image.png" alt="">
                </a> -->
              </figure>
              <figcaption class="project__caption">
                <div class="project__name">
                  <a href="https://github.com/Apoorv13/Malware_Detection_Autoencoder_Blockchain" target="_blank">Malware Detection using Blockchain</a>
                </div>
                <p>Utilising blockchain for creating a decentralized malware detection system. Motivated by the fact that today's Malware detection systems and Firewalls are mode Predictable than being predictive.</p>
              </figcaption>
    </div>

  </div>
</section>
